@font-face {
  font-family: 'story_sans';
  src: url("$assets-story_sans_light-eot") format("eot"), url("$assets-story_sans_light-woff2") format("woff2"), url("$assets-story_sans_light-woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'story_sans';
  src: url("$assets-story_sans_regular-eot") format("eot"), url("$assets-story_sans_regular-woff2") format("woff2"), url("$assets-story_sans_regular-woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'story_sans';
  src: url("$assets-story_sans_medium-eot") format("eot"), url("$assets-story_sans_medium-woff2") format("woff2"), url("$assets-story_sans_medium-woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'story_sans';
  src: url("$assets-story_sans_bold-eot") format("eot"), url("$assets-story_sans_bold-woff2") format("woff2"), url("$assets-story_sans_bold-woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'story_sans';
  src: url("$assets-story_sans_black-eot") format("eot"), url("$assets-story_sans_black-woff2") format("woff2"), url("$assets-story_sans_black-woff") format("woff");
  font-weight: 700;
}